.tarefaApp{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4d24a5;
}

.container{
  width: 60%;
  height: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin: 4rem 0;
  color: #4d2488;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  margin-left: 2rem;
  width: 60px;
  height: 6S0px;
}

input{
  border: none;
  width: 60%;
  padding: 1rem 0;
  padding-left: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: 400;
  outline-color: #4d24a5;
}

.buttonAdd{
  border: none;
  width: 60%;
  padding: 1rem 0;
  box-shadow: 0px 6px  rgba(102, 170, 255, 0.6);
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(102, 170, 255);
  position: relative;
}

.buttonAdd:active{
  box-shadow: 0px 0px 0px rgb(255, 255, 255);
  top: 6px;

}

.cards{
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
}
